.input {
  border: 0;
  outline: none;
  font-size: 14px;
  color: $neutral;
  border-radius: 5px;
  padding: 5px 10px;
  background: darken($normal, 2.5%);

  &::placeholder {
    color: lighten($neutral, 40%);
  }

  &--disabled {
    @include disabled;
  }
}