.button {
  border: 0;
  color: $normal;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  // Button-link
  text-decoration: none;
  font-size: 12px;

  &--positive {
    background: $positive;

    &:enabled:hover {
      background: lighten($positive, 2%);
    }

    &:enabled:active {
      background: lighten($positive, 4%);
    }
  }

  &--negative {
    background: $negative;

    &:enabled:hover {
      background: lighten($negative, 2%);
    }

    &:enabled:active {
      background: lighten($negative, 4%);
    }
  }

  &--disabled {
    @include disabled;
  }
}